<div id="<%= dom_id post %>" class="mt-5">
  <div class="p-5 my-3 shadow rounded">
    <h6 class="text-muted">
      <%= post.title %>
    </h6>

    <small class="text-muted">
      <%= post.content %>
    </small>
  </div>
</div>
